html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#nprogress .bar {
  background: #ff1284 !important;
}
#nprogress .peg {
  box-shadow: 0 0 10px #ff1284, 0 0 5px #ff1284;
}
#nprogress .spinner-icon {
  border-top-color: #ff1284;
  border-left-color: #ff1284;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.scroll-view-horizontal {
  display: flex;
  width: 100%;
  overflow-x: auto;
}

.scroll-view-horizontal::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #e0e0e0;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #a0a0a0;
}

.slick-dots .slick-active div {
  background-color: #00adef;
  border-color: #00adef;
}

@keyframes timeline {
  0% {
    background-position: -350px 0;
  }

  100% {
    background-position: 400px 0;
  }
}

.loading-product-item .loading-left [class*="loading-"],
.loading-product-item .loading-right [class*="loading-"] {
  height: 10px;
  width: 100%;
  float: left;
  margin-bottom: 10px;
  animation-name: timeline;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  background: #f6f7f8;
  background: linear-gradient(to right, #eee 8%, #ddd 18%, #eee 33%);
  background-size: 800px auto;
  border-radius: 50px;
}

.loading-product-item .loading-left [class*="loading-content"] {
  width: 60%;
  margin-left: 2%;
}

.loading-product-item .loading-right [class*="loading-"] {
  float: right;
  display: block;
  clear: both;
}

.loading-product-item {
  height: 100%;
  display: flex;

  .loading-left {
    .loading-name {
      height: 20px;
      margin-bottom: 15px;
    }

    .loading-img {
      height: 200px;
      width: 38%;
      margin-bottom: 20px;
      border-radius: 10px;
    }

    .loading-content-lg {
      height: 30px;
    }

    .loading-content-sm {
      width: 29%;
    }

    .loading-content-xs {
      height: 6px;
    }
  }

  .loading-right {
    .loading-price {
      height: 20px;
    }

    .loading-tag-deal {
      width: 30%;
    }
  }
}

.text-uppercase {
  text-transform: uppercase;
}

.red {
  color: red;
}
.customMargin {
  .slick-slide {
    padding-left: 12px;
    padding-right: 12px;
  }
  .slick-list {
    margin: -10px -12px;
    padding: 10px 0;
  }
  .slick-track {
    margin-left: 0;
    margin-right: 0;
  }
}
.slick-track {
  margin-left: 0;
  margin-right: 0;
}
.partnerSlider {
  .slick-slide {
    padding: 12px;
    > div {
      &:first-child {
        margin-bottom: 24px;
      }
    }
  }
  .slick-list {
    margin: -10px -12px;
  }
}
.input-slider {
  background: #e2e8f0;
  -webkit-appearance: none;
  border-radius: 100px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  height: 4px;

  margin: 30px 0 20px 0;
  -webkit-appearance: none;
  background-color: #f5f6f8;
  height: 3px;
  width: 100%;
  margin: 10px auto;
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    box-shadow: 0px 0.5px 4px rgba(0, 0, 0, 0.12),
      0px 6px 13px rgba(0, 0, 0, 0.12);
  }
  &::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
    box-shadow: 0px 0.5px 4px rgba(0, 0, 0, 0.12),
      0px 6px 13px rgba(0, 0, 0, 0.12);
  }
  &::-ms-fill-lower {
    background: #00b6f3;
    background: #ac51b5;
    border: 0px solid #000101;
  }
  &::-ms-fill-upper {
    background: #00b6f3;
  }
}
.slick-slide div {
  outline: none;
}
.hotel-container {
  display: flex;
  padding: 12px;
  border-radius: 8px;
  .hotel-name {
    color: #1a202c;
  }
  &:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.2s;
    .hotel-name {
      color: #00b6f3;
    }
  }
}
.normal-date {
  &:hover {
    border: 1px solid #00b6f3;
    border-radius: 8px;
  }
}
.actived-date {
  &:hover {
    background: #00b6f3;
    border: 1px solid #00b6f3;
    border-radius: 8px;
    color: white;
  }
}
button.gm-ui-hover-effect {
  visibility: hidden;
  width: 0 !important;
  height: 0 !important;
  display: none !important;
}
.gm-style .gm-style-iw-c {
  padding: 0;
  border-radius: 8px;
}
.gm-style .gm-style-iw-d::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.gm-style .gm-style-iw-t::after {
  width: 9px;
  height: 9px;
}
.link-text {
  &.MuiLink-underlineHover {
    color: #1a202c;
    &:hover {
      text-decoration: none;
      color: #00b6f3;
    }
  }
}
